<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apicultura</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'pagina_principal' %}">SApicultura</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Producao:criar_criacao' %}">Criar criações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Producao:listar_criacao' %}">Listar Criações</a>
                </li>
                <li class= "nav-item">
                   <a class="nav-link" href="{% url 'Producao:criar_coleta' %}">Criar Coletas</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="{% url 'Producao:listar_coletas' %}">Listar Coletas</a>
                </li>
                 <li class= "nav-item">
                    <a class="nav-link" href="{% url 'Producao:relatorio_coleta' %}">Relatório de Coletas</a>
                </li>
                 <li class= "nav-item">
                    <a class="nav-link" href="{% url 'Producao:logout' %}">LOGOUT</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        <h1>Sistema de Apicultura</h1>

        <h4>
            {% block subtitulo %}

            {% endblock %}
        </h4>

        {% block conteudo %}
           <h4>Bem vindo ao sistema de apicultura</h4>
        {% endblock %}

        <h6>
            {% block rodape %}

            {% endblock %}
        </h6>
    </div>
</body>
</html>